@use '~@angular/material' as mat;
@use '~@angular/cdk' as cdk;
// Plus imports for other components in your app.

$global-primary-background: #232f3e !default;
$global-font-size: 15px !default;
$global-margin: 16px !default;
cdk.$overlay-container-z-index: 1020;
cdk.$overlay-z-index: 1020;
$navbar-nav-item-height: 50px;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$mat-aws-data-api: (
  50: #e0f4fd,
  100: #afe2f9,
  200: #7acff4,
  300: #42bcef,
  400: #00aeed,
  500: #00a0ea,
  600: #0092db,
  700: #0080c8,
  800: #006fb4,
  900: #004f92,
  A100: #afe2f9,
  A200: #7acff4,
  A400: #00aeed,
  A700: #0080c8,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat.define-palette($mat-aws-data-api);
$candy-app-accent: mat.define-palette($mat-aws-data-api, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.define-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($candy-app-theme);
