<div>
    <h2>
        <i class="fas fa-tasks"></i> {{ 'Stages.TitleList' | translate }}
    </h2>
    <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
      <div *ngFor="let entity of entities">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover">
          <div class="uk-card-body">
            <div uk-grid>
              <div class="uk-width-expand@m">
                <a routerLink="/stages/{{ entity.code }}">
                  <h4 class="uk-margin-remove-bottom">{{ entity.name }}</h4>
                </a>  
                <small>{{ entity.endpoint }}</small>
              </div>  
              <div class="uk-width-auto uk-visible@m">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <i class="fas fa-ellipsis-v fa-2x"></i>
                </button>
                <mat-menu #menu="matMenu">
                  <a mat-menu-item routerLink="/stages/{{ entity.code }}">
                    {{ 'Stages.ActionView' | translate }}
                  </a>
                </mat-menu>
              </div>
            </div>
          </div>
          <div class="uk-card-footer uk-text-right uk-hidden@m">
            <a routerLink="/stages/{{ entity.code }}" class="uk-button uk-button-text">{{ 'Stages.ActionView' | translate }}</a>  
          </div>
        </div>
      </div>
    </div>
  