<div *ngIf="!isNaked">
  <!--HEADER-->
  <header id="top-head" class="uk-position-fixed">
        <div class="uk-container uk-container-expand uk-background-primary">
            <nav class="uk-navbar uk-light" data-uk-navbar="mode:click">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#">
                        <img width="40" src="/assets/images/logo-w.png" [attr.uk-tooltip]="'title: AWS Data API; pos: right'" />
                    </a>
                    <button class="hamburger hamburger--collapse"  
                        type="button"
                        [class.is-active]="isMenuOpened"
                        (click)="drawer.toggle()">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </nav>
        </div>
    </header>
</div>
    <!--/HEADER-->
 <mat-drawer-container autosize>
    <mat-drawer #drawer 
        (openedStart)="isMenuOpened=true"
        (closedStart)="isMenuOpened=false"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="(isNaked || mobileQuery.matches) ? 'false' : 'true'">
        <div>
            <div class="bar-content uk-position-relative">
                <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                    <li>
                        <h3>Data API</h3>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Console</li>
                    <li [ngClass]="{'uk-active': isActivePath('/dashboard')}">
                        <a routerLink="/dashboard"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</a>
                    </li>
                    <li [ngClass]="{'uk-active': isActivePath('/tasks')}">
                        <a routerLink="/stages"><i class="fas fa-tasks fa-fw"></i> {{ 'Stages.TitleList' | translate }}</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Administration</li>
                    <li [ngClass]="{'uk-active': isActivePath('/what-is-new')}">
                        <a routerLink="/what-is-new"><i class="far fa-newspaper fa-fw"></i> {{ 'What\'s new' || 'Users.TitleList' | translate }}</a>
                    </li>          
                </ul>
            </div>
        </div>
    </mat-drawer>
    
        

    <div id="content" [ngClass]="{'content-console': !isNaked}" data-uk-height-viewport="expand: true">
        <div [ngClass]="{'uk-container uk-container-expand': !isNaked}">
            <router-outlet></router-outlet>
            <footer class="uk-section uk-section-small uk-text-center" *ngIf="!isNaked">
                <hr>
                <img width="32" src="/assets/images/logo.png" [attr.uk-tooltip]="'title: AWS Data API; pos: right'" />
            </footer>
        </div>
    </div>

</mat-drawer-container>