
<div class="uk-height-medium uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('/assets/images/dashboard-cover.jpeg');">
  
  <div class="uk-width-3-4 uk-width-2-3@s uk-width-1-2@m uk-margin-auto uk-margin-auto-vertical">
      <h1 uk-parallax="opacity: 1,0.5,0; y: 0,0,-100; x: 0,100,100; scale: 1,1,2; viewport: 0.5;">AWS Data API</h1>
      <p uk-parallax="opacity: 1,0.5,0; y: 0,0,100; x: 0,-100,-100; scale: 1,1,0.5; viewport: 0.5;">
        AWS Data API's offer you the ability to create data oriented application API's that deliver the speed, scalability, reliability, and security of a sophisticated NOSQL platform with zero coding or configuration, and no servers to manage. In seconds, you can create a new Data API Namespace that includes strong data models, natural language search, and sophisticated data lineage tracking, presented as an HTTPS REST API.      </p>
  </div>
</div>

<div class="uk-margin-top">
  <app-stage-list></app-stage-list>
</div>
